{% if facecount > 0 %}
    <h2>Faces was found: {{facecount}}</h2>
    <div class="recognized-face-container">
    {% for item in faceimages %}
        <div class="recognized-face" id="recognized-face-{{loop.index}}">
        <img alt="{{imgname}}-{{loop.index}}" id="faceimgage-{{loop.index}}" class="recognized-face" src="data:image/png;base64, {{item}}" >
        <button class="findface-button info-button" id="showenc-button-{{loop.index}}" onclick="showencodind({{loop.index}})">Show Face Encoding ({{loop.index}})</button>
        <button class="findface-button info-button" id="compare-button-{{loop.index}}" onclick="compareface({{loop.index}})">Check &amp; Compare ({{loop.index}})</button>
        <button class="findface-button ok-button" id="saveenc-button-{{loop.index}}" onclick="saveasknown({{loop.index}})">Save As Known ({{loop.index}})</button>
        </div>
    {% endfor %}
    </div>
{% else %}
    <h2>Faces wasn't found</h2>
{% endif %}

{% if enccount > 0 %}
<div>
	{% for enc in encodings %}
		<div class="face-encoding-wrapper" id="face-encoding-wrapper-{{loop.index}}">
			<textarea rows="5" class="face-encoding" name="faceencoding" id="face-encoding-{{loop.index}}" readonly>{{ enc }}</textarea><br>
			<button class="hide info-button" id="hide-encoding" onclick="hideencodind({{loop.index}})">Hide Face Encoding ({{loop.index}})</button>
		</div>
	{% endfor %}
</div>
{% endif %}

{% if poscount > 0 %}
<div>
    {% for pos in positions %}
        <div class="face-pos-wrapper" id="face-pos-wrapper-{{loop.index}}">
            <div class="face-data-form">
                <label for="face-position-top-{{loop.index}}">Top:</label>
                <input type="text" name="faceposition-top" id="face-position-top-{{loop.index}}" 
                    readonly class="facecut" value="{{ pos.0 }}" />
            </div>
            <div class="face-data-form">
                <label for="face-position-right-{{loop.index}}">Right:</label>
                <input type="text" name="faceposition-right" id="face-position-right-{{loop.index}}" 
                    readonly class="facecut"value="{{ pos.1 }}" />
            </div>
            <div class="face-data-form">
            <label for="face-position-bottom-{{loop.index}}">Bottom:</label>
            <input type="text" name="faceposition-bottom" id="face-position-bottom-{{loop.index}}" 
                readonly class="facecut"value="{{ pos.2 }}" />
            </div>
            <div class="face-data-form">
                <label for="face-position-left-{{loop.index}}">Left:</label>
                <input type="text" name="faceposition-left" id="face-position-left-{{loop.index}}" 
                    readonly class="facecut"value="{{ pos.3 }}" />
            </div>
            <div class="face-data-form-comment">
                <label for="face-comment-{{loop.index}}">Comment:</label>
                <input type="text" class="facecomment" name="facecomment" id="face-comment-{{loop.index}}" 
                    class="facecomment" placeholder="Enter Your comments here..." />
            </div>
            <div class="button-block">
                <button class="save" id="save-facedata ok-button" onclick="savefacedata({{loop.index}}, '{{imgname}}')">Save Face ({{loop.index}})</button>
                <button class="cancel" id="save-cancel cancel-button" onclick="savecancel({{loop.index}})">Cancel</button>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}
<div id="comparearea"></div>
